.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 2rem;
    background-color: #0f1c2e;
    color: white;
  
    .navbar-left {
      display: flex;
      align-items: center;
  
      .logo {
        width: 150px;
        margin-right: 1px;
        display: inline-block;
        cursor: pointer;
        img {
            transition: transform 0.2s ease;
        }
        &:hover .logo {
            transform: scale(1.05); // ligero zoom al pasar el mouse
        }
      }
  
      .brand {
        font-weight: bold;
        font-size: 20px;
  
        .highlight {
          color: #00d1b2;
        }
      }
    }
  
    .navbar-center {
      display: flex;
      gap: 2rem;
  
      a {
        text-decoration: none;
        color: white;
        font-size: 14px;
  
        &:hover {
          color: #00d1b2;
        }
      }
    }
  
    .navbar-right {
      display: flex;
      gap: 1rem;
  
      .icon {
        width: 50px;
        cursor: pointer;
      }
    }
  }
  