<app-navbar></app-navbar>

<div class="home-container">
    <h1 class="title">Menu Principal</h1>
  
    <div class="card-container">
      <div class="card">
        <img src="assets/imagen-analisis.png" alt="Análisis IA" />
        <h2>Analiza imágenes<br />endoscópicas con ayuda de IA.</h2>
        <a routerLink="/analysis">Análisis de imagen</a>
      </div>
  
      <div class="card">
        <img src="assets/pacientes.png" alt="Gestión de pacientes" />
        <h2>Administra pacientes y sus<br />registros clínicos.</h2>
        <a routerLink="/pacientes">Gestión de pacientes</a>
      </div>
  
      <div class="card">
        <img src="assets/resultados.png" alt="Resultados" />
        <h2>Consulta diagnósticos<br /><br /></h2>
        <a routerLink="/resultados">Visualización de resultados</a>
      </div>
    </div>
  </div>
  

<app-footer></app-footer>
