<nav class="navbar">
    <div class="navbar-left">
      <a routerLink="/home">
        <img src="assets/logo.png" alt="Logo" class="logo" />
      </a>
    </div>
  
    <div class="navbar-center">
      <a routerLink="/home">Home</a>
      <a routerLink="/analysis">Análisis de imagen</a>
      <a routerLink="/pacientes">Gestión de pacientes</a>
      <a routerLink="/resultados">Visualización de resultados</a>
    </div>
  
    <div class="navbar-right">
      <img src="assets/bell-icon.png" alt="Notificaciones" class="icon" />
      <a routerLink="/perfil">
        <img src="assets/user-icon.png" alt="Usuario" class="icon" />
      </a>
    </div>
  </nav>
  
  