  <app-navbar-auth></app-navbar-auth>
  <div class="page-content">
  <div class="login-container-outer">
  <div class="auth-wrapper">
      <div class="auth-left">
        <div class="brand-panel">
          <img src="assets/logo.png" alt="GastroSAI" class="brand__logo" />
          <h1>GastroSAI</h1>
          <p class="slogan">Diagnóstico asistido por IA para clínicas.</p>
        </div>
      </div>
    
      <div class="auth-right">
        <h2>Crear Cuenta</h2>
    
        <form (ngSubmit)="register()" #registerForm="ngForm">
          <input name="name" [(ngModel)]="form.name" placeholder="Nombres" required />
          <input name="lastname" [(ngModel)]="form.lastname" placeholder="Apellidos" required />
          <input name="mail" [(ngModel)]="form.mail" placeholder="Correo Electrónico" required />
          <input name="password" type="password" [(ngModel)]="form.password" placeholder="Contraseña" required />
          <input name="confirmPassword" type="password" [(ngModel)]="confirmPassword" placeholder="Confirmar contraseña" required />           
    
          <button type="submit" class="btn-primary">Registrarse</button>
          <br>
          <button type="button" class="btn-secondary" (click)="goBack()">Volver</button>
        </form>
      </div>
    </div>
  </div>
  </div>
      <app-footer></app-footer>  